# ─── SECRETS — NE PARTENT JAMAIS SUR GITHUB ───
env.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ─── NEXT.JS ───
/.next/
/out/
/build
next-env.d.ts

# ─── NODE ───
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ─── SYSTÈME ───
.DS_Store
*.pem
Thumbs.db

# ─── VERCEL ───
.vercel

# ─── TYPESCRIPT ───
*.tsbuildinfo
